<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" data-ng-app="HomeApp">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
	    <meta name="description" content=""/>
	    <meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="author" content="">
		<meta name="google-signin-client_id" content="<%=Accounts.Google.google_signin_client_id%>">
		<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <title>NearGroup</title>
   		<link rel="apple-touch-icon" sizes="57x57" href="/app/assets/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/app/assets/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/app/assets/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/app/assets/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/app/assets/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/app/assets/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/app/assets/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/app/assets/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/app/assets/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/app/assets/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/app/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/app/assets/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/app/assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/bower_components/animate.css/animate.css" />
      	<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/app/assets/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/app/assets/css/public.css" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<base href="/">
	</head>

<body data-ng-controller="HomeController" id="HomeController">
<script>
window.FacebookAppId = '<%=Accounts.Facebook.appId%>';
function onSignIn(googleUser) {
	angular.element($('#HomeController')).scope().onGoogleSingIn(googleUser);
}	
</script>
<header id="header-nav" ng-include="'/app/partials/public/header.html'" role="banner"></header>
<div class="container">
	<!-- <div class="col-md-12 text-danger bg-danger text-center" ng-show="someThingWrong">Something went wrong at Api server!</div> -->
	<div class="col-md-12 loginscreen">
		<div class="first-step" data-ng-hide="registeration2Step">
			<content-loader data-ng-show="authRequestRunning"></content-loader> 
		<div class="col-md-12 login-buttons">
			<div class="col-md-4">
				<div class="socialbtn">	<img  ng-click="authenticate('facebook')"  src="/app/assets/images/btn_facebook.png"
			/></div>
			</div>
			<div class="col-md-4">
				<div class="socialbtn" ng-click="authenticate('twitter')"><img src="/app/assets/images/btn_twitter.png"/></div>
			</div>
			<div class="col-md-4">
				<div class="socialbtn">
					<!-- <div class="socialbtn" ng-click="authenticate('google')">Google login</div> -->
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
				</div>
			</div>
		</div>
		</div>
		<div class="second-step" data-ng-show="registeration2Step" id="regsecondstep" style="display:none;">
			<div class="col-md-6 col-sm-12 col-xs-12 second-step-form">
				<div id="horizontal-form" class="collapse in">
					<form name="userForm" role="form" data-ng-submit="saveVerification(userForm.$valid)" novalidate>
					<div class="col-md-12 form-group">
					<label class="col-md-6 col-sm-12 col-xs-12" for="apartment">Your apartment</label>
					<input type="text" class="col-md-6 col-sm-12 col-xs-12 inputfiled" ng-model="secondProfile.apartment" name="apartment" id="apartment" required />
					<p ng-show="userForm.apartment.$error.required&&userForm.apartment.$dirty">Your apartment is required.</p>
					</div>
					<div class="col-md-12 form-group">
					<label class="col-md-6 col-sm-12 col-xs-12" for="ineterest">Your Interests</label>
					<select class="col-md-6 col-sm-12 col-xs-12 inputfiled" ng-options="item for item in userInterestsArr" name="interests" ng-model="secondProfile.interests" id="ineterest" required></select>
					<p ng-show="userForm.interests.$error.required&&userForm.interests.$dirty">Your interest is required.</p>
					</div>
					<div class="col-md-12 form-group">
					<label class="col-md-6 col-sm-12 col-xs-12" for="jobtype">Job Type</label>
					<select class="col-md-6 col-sm-12 col-xs-12 inputfiled" ng-options="item for item in jobTypeArr" name="jobType" ng-model="secondProfile.jobType" id="jobtype" required></select>
					<p ng-show="userForm.jobType.$error.required&&userForm.jobType.$dirty">Your job type is required.</p>
					</div>
					<div class="col-md-12 form-group">
					<label class="col-md-6 col-sm-12 col-xs-12" for="city">Your city</label>
					<select class="col-md-6 col-sm-12 col-xs-12 inputfiled" ng-options="item for item in currentCityArr" ng-model="secondProfile.city" data-ng-change="getCitiesLocality(secondProfile.city)" name="city" id="city" required></select>
					<p ng-show="userForm.city.$error.required&&userForm.city.$dirty">Your city is required.</p>
					</div>
					<div class="col-md-12 form-group">
					<label class="col-md-6 col-sm-12 col-xs-12" for="locality">Locality</label>
					<select class="col-md-6 col-sm-12 col-xs-12 inputfiled" ng-options="item for item in localityArray" name="locality" ng-model="secondProfile.locality" id="locality" required></select>
					<p ng-show="userForm.locality.$error.required&&userForm.locality.$dirty">Your locality is required.</p>
					</div>
					</div>
					<div class="col-md-12">
					<button type="submit" class="btn btn-default pull-right" ng-disabled="userForm.$invalid || verifyUserGoing">Next</button>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ui-view></div>
</div>
<div ng-include="'/app/partials/public/footer.html'"></div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/satellizer/satellizer.min.js"></script>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
<script src="/app/js/public.routes.js"></script>
<script src="/app/config/api.js"></script>
<script src="/app/js/api.methods.js"></script>
<script src="/app/js/directives/Global.js"></script>
<script src="/app/modules/home/services/Home.js"></script>
<script src="/app/modules/home/controllers/Home.js"></script>
</body>
</html>