<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" data-ng-app="DashboardApp">
	<head>
		<meta charset="utf-8">
	    <meta name="description" content=""/>
	    <meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="author" content="">
		<meta name="google-signin-client_id" content="<%=Accounts.Google.google_signin_client_id%>">
	    <title>Welcome Dashboard App!</title>
		<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
   		<link rel="apple-touch-icon" sizes="57x57" href="/app/assets/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/app/assets/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/app/assets/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/app/assets/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/app/assets/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/app/assets/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/app/assets/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/app/assets/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/app/assets/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/app/assets/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/app/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/app/assets/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/app/assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/bower_components/animate.css/animate.css" />
      	<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css" />
      	<link rel="stylesheet" type="text/css" href="/bower_components/angular-motion/dist/angular-motion.css" />
		<link rel="stylesheet" type="text/css" href="/app/assets/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/app/assets/css/app.css" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<base href="/">
	</head>

<body data-ng-controller="AppController">
<!-- <header id="header-nav" ng-include="'/app/partials/private/header.html'" role="banner"></header>
<div class="container">
	<div ui-view></div>
</div> -->
	<div>
		<topnav></topnav>
		<sidebar></sidebar>
		<div class="main-container" >
			<div ui-view></div>
		</div>
		<!-- <footer id="footer"  ng-include="'/app/partials/private/footer.html'"></footer> -->
	</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src='/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
<script src="/bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script src="/app/config/api.js"></script>
<script src="/app/js/api.methods.js"></script>
<script src="/app/js/app.routes.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/directives/Navigation.js"></script>
<script src="/app/js/directives/PostComment.js"></script>
<script src="/app/js/directives/Global.js"></script>
<script src="/app/js/filters/Global.js"></script>
<script src="/app/modules/dashboard/services/Dashboard.js"></script>
<script src="/app/modules/dashboard/controllers/Dashboard.js"></script>
</body>
</html>