<!-- <div class="text-center">
<h1>Welcome to Web Alpha, Coming Soon!!</h1>
<p>Wait for few days for connecting to your neighbours at your desktop</p>
</div> -->
<div class="separator"></div>
<div class="logofilters">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-20">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/thoughts-advice.png" alt="Image gallery" title="Thougths & Advice" class="mfp-fade" />
				</div>
				<div class="text text-center">Thougths & Advice</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/buy-sell.png" alt="Image gallery" title="Buy/Sell Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">Buy/Sell Nearby</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/housing.png" alt="Image gallery" title="House Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">House Nearby</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/carpool.png" alt="Image gallery" title="Carpool Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">Carpool Nearby</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-20 top-20">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/offers.png" alt="Image gallery" title="Offers Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">Offers Nearby</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/activities.png" alt="Image gallery" title="Activities Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">Activities Nearby</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/jobs.png" alt="Image gallery" title="Jobs Nearby" class="mfp-fade" />
				</div>
				<div class="text text-center">Jobs Nearby</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="nearbylogo">
				<div class="img-wrap" data-ng-click="forToSignup()">
					<img src="/app/assets/images/learn.png" alt="Image gallery" title="Learning Nearby" class="mfp-fade" >
				</div>
				<div class="text text-center">Learning Nearby</div>
			</div>
		</div>
	</div>
</div>
<div class="devider"></div>
<div class="">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="text-center">"Stay Connected with your neighbourhood"</p>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="app">
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="https://itunes.apple.com/in/app/neargroup-connecting-neighbors/id1026635629?mt=8">  <img src="/app/assets/images/apple.png" class="img-responsive"> </a>
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="https://play.google.com/store/apps/details?id=com.nearbygroup.nearby"> <img src="/app/assets/images/google.png" class="img-responsive"> </a>
		</div>
		</div>
	</div>
</div>
<div class="thoughts-advice">
	<!-- <h2>Thoughts & Advice</h2> -->
</div>