<div class="row homepage">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div id="login_dialog" class="modal-sm centered">
			<div class="modal-content">
			<div class="modal-body" id="login-content">
			<form class="signupform" accept-charset="utf-8" name="login" id="login" novalidate="novalidate" class="bv-form">                                   
			<a href="javascript:void(0);" rel="nofollow" class="btn btn-lg btn-block btn-social btn-facebook fblogin-button" onclick="javascript:CallAfterLogin(1);return false;"><i class="fa fa-facebook"></i>
			Login with Facebook</a>
			<a href="javascript:void(0);" class="btn btn-lg btn-block btn-social btn-google-plus google-login g-signin2" id="google-login" data-onsuccess="onSignIn"><i class="fa fa-google-plus"></i>Login with Google</a>
			</form></div>                                
			</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="caption-one">
			<a href="http://bit.ly/landomni">
			<img src="/app/assets/images/neargrouplogo.png" width="100px" alt="NearGroup" />
			<h2 class="logo mb50">
			NearGroup : Connecting Neighbors
			</h2>
			</a>
			<h4>"Delhi's most active local social network"</h4>
			<h4>"Hundreds from Your neighborhood are already using NearGroup"</h4>
			<h4>"Everyday, Tons of discussions about Your neighborhood happen"</h4>
			<a href="http://bit.ly/landomni"><h3 class="mt20">Join Us.</h3></a>
			<h5 class="mt20">Download the app from </h5>
			<a href="http://bit.ly/landomni">
			<img class="playstore_icon" src="https://www.helloomni.com/asset/image/static/googleplay.png?v=4.0" data-primary-src="https://www.helloomni.com/asset/image/static/googleplay.png?v=4.0" data-white-src="https://www.helloomni.com/asset/image/static/googleplay.png?v=4.0" alt="Google Play">
			</a>
			<h5>Rated 4.9 on Playstore</h5>
			</div>
		</div>
	</div>
</div>