<div class="feedLaout" data-ng-controller="HomeController as  homecontroller" >
	<p class="col-md-12 has-error" ng-show="invalidFormEntries"> {{errorMessage}}</p>
	<div class="col-md-12 nopadding postoptions">
		<div class="col-md-8">
		<select ng-options="item as item.title for item in postTypeOptions track by item.id" ng-model="postType"></select>
		</div>
		<div class="col-md-4"><a href class="btn btn-primary" ng-click="submitPost(postType.id)">Post</a></div>
	</div>
	<div class="postoption-layout" ng-switch="postType.id">
		<thoughts-advice ng-switch-when="1"></thoughts-advice>
		<buysell-nearby ng-switch-when="2"></buysell-nearby>
		<carpoll-nearby ng-switch-when="3"></carpoll-nearby>
		<offer-nearby ng-switch-when="4"></offer-nearby>
		<activity-nearby ng-switch-when="5"></activity-nearby>
		<jobs-nearby ng-switch-when="6"></jobs-nearby>
	</div>
	<!-- <div class="createbutton">
	<span class="pull-right create-news" title="Create News" data-ng-click="openCreateNewsForm()">
		<i class="fa fa-plus plus-icon" aria-hidden="true"></i>
	</span>
	</div> -->
	<div class="col-md-12 nopadding" infinite-scroll="myPagingFunction()" infinite-scroll-distance="1">
		<div class="col-md-12 nopadding" >
			<div class="feeds" data-ng-repeat="item in allFeeds">
				<div class="col-md-12">
					<div class="col-md-10 col-sm-9 col-xs-9 feed-headline nopadding" data-ng-bind="item.newsHeadline"></div>
					<span class="col-md-2 col-sm-3 col-xs-3 shareicon pull-right" style="padding:0px;" data-trigger="click" data-type="success" data-title="Share" bs-tooltip><i class="fa fa-ellipsis-v icon-color" aria-hidden="true"></i></span>
				</div>
				<div class="feed-description col-md-12" data-ng-bind="item.description"></div>
				<div class="feed-time-location col-md-12 padding-left-0">
					<div class="datetime">
						<i class="fa fa-calendar-o time-color" aria-hidden="true"></i>
						<span  ng-bind="item.creationTime|ngdateformat"></span>
					</div>
					<div class="datelocation"><i class="fa fa-map-marker time-color" aria-hidden="true"></i>
						<span ng-bind="item.city"><span>
					</div>
				</div>
				<div class="feed-options col-md-12">
					<ul>
						<li>
							<div class="option1" ui-sref="profile({userId: item.userId})">
								<img ng-if="item.imageUrl" src="{{item.imageUrl}}" class="img-circle" alt="" />
								<img ng-if="!item.imageUrl" src="/app/assets/images/avatar.png" class="img-circle" alt="" />
							</div>
							<div class="option12">
								<div class="name" ng-bind="item.name"></div>
								<div class="locality" ng-bind="item.locality"></div>
							</div>
						</li>
						<li class="icons">
							<div class="star" ng-class="{'liked':item.liked==true, 'unliked':item.liked==false}" title="{{item.liked?'':'Like'}}">
								<span ng-click="likeNews($index, item)">
								<span><i class="fa fa-star" aria-hidden="true"></i></span>
								<span class="star-count" ng-bind="item.newsLikeCount"></span></span>
							</div>
						</li>
						<li class="icons">
							<div class="comment">
								<span bs-aside="openCommentForm">
								<span><i class="fa fa-comment-o icon-color" aria-hidden="true"></i>
								</span>
								<span class="comment-count" ng-bind="item.commentCount"></span>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<content-loader data-ng-show="calling"></content-loader>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:15px 0;border-top:2px solid #eee;">
		<div class="app">
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="https://itunes.apple.com/in/app/neargroup-connecting-neighbors/id1026635629?mt=8">  <img src="/app/assets/images/apple.png" class="img-responsive"> </a>
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="https://play.google.com/store/apps/details?id=com.nearbygroup.nearby"> <img src="/app/assets/images/google.png" class="img-responsive"> </a>
		</div>
	</div>
</div>