<div class="modal top am-fade" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title" ng-bind-html="title">Some Title</h4>
			</div>
			<div class="modal-body" ng-show="content">
				<h4>This feature is available at mobile app right now.</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="$hide()">Ok</button>
			</div>
		</div>
	</div>
</div>