<div class="thoughtsadvice-form">
<div class="col-md-12">
	<div class="col-md-4 indeas active" ng-click="changeThoughtsCategory('#thoughts')" ng-class="">Ask an Advice</div>
	<div class="col-md-4 nopadding indeas" ng-click="changeThoughtsCategory('#thoughts')">Share ur Thoughts</div>
	<div class="col-md-4 nopadding indeas" ng-click="changeThoughtsCategory('#thoughts')">Share a Tip</div>
</div>
<div class="col-md-12">
<div class="title b-b">
<input type="text" class="title" placeholder="Title" ng-model="UserPost.title" name="title"/>
</div>
<div class="descritpion b-b">
<input type="text" class="descritpion" placeholder="Description" ng-model="UserPost.description" name="title"/>
</div>
</div>
</div>
<!-- <div contenteditable class="col-md-12 createnews-box" ng-model="postText"></div> -->