@import "prettyphoto.less";
@import "style.less";

.contentlayout {
	height: calc(100% - 200);
}
.publicheader {
	background-color: #20B6D7;
	height: 110px;
}
.homepage {
	margin: 20px 0;
}
.contentloader{
	font-size: 45px;
	color: #eee;
	width: 45px;
	margin: auto;
}
.padding-right-0 {
	padding-right: 0px !important;
}
.padding-left-0 {
	padding-left: 0px !important;
}
.nopadding {
	padding: 0px !important;
}
.b-b {
	border-bottom: 1px solid #eee;
}
