.socialicons {
	padding: 30px 0;
	margin-bottom: 24px;
	border-bottom: 2px solid #eee;
}
.socialicons .btn:hover {
	color: #fff;
}
.login-buttons {
	margin-bottom: 20px;
}
.login-buttons .socialbtn {
	width: 122px;
	margin: auto;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}
.login-buttons img{
	height: 40px;
}

.btn-social.btn-lg {
	padding-left: 40px;
}
.btn-facebook {
	width: 260px;
	margin: auto;
	color: #ffffff;
	background-color: #3b5998;
	border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus {
	width: 260px;
	margin: auto;
	color: #ffffff;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2);
}
.btn-social {
	position: relative;
	padding-left: 42px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn {
	border-radius: 5px;
	line-height: 1em;
	box-shadow: 0 0 0 1px #ccc;
	padding: 10px 20px;
	background-color: #20B6D7;
	color: #fff;
	font-size: 18px;
}
.landing img.playstore_icon {
	width: 50%;
}
.loginscreen {
	padding: 20px;
	border-bottom: 2px solid #eee;
	margin-bottom: 25px;
}
.loginscreen .second-step-form label {
	padding: 10px;
}
.loginscreen .second-step-form .inputfiled{
	height: 40px;
	border: 2px solid #eee;
	border-radius: 5px;
}
.second-step-form {
	
}

.footer-container {
  width: 100%;
    float: left;
    background-color: #20B6D7;
}
.footer-container ul {
    background-color: #20B6D7;
    color: #fff;
}
.footer-container ul li:hover {
  background-color: #eee;
  color: #000;
}
.footer-container ul li a {
  color: #fff;
}
.footer-container ul li a:hover {
  color: #000;
}
.copyrights {
	color: #fff;
    float: left;
}