<!-- <div class="row">
<div class="col-md-12">
	<div class="col-md-8  col-sm-12 col-xs-12">
		<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		    <li><a ui-sref="contact"><i class="fa fa-tint"></i> Contact</a></li>
		    <li><a ui-sref="about"><i class="fa fa-wrench color-brown"></i> About Us</a></li>
		    <li><a ui-sref="contact"><i class="fa fa-check color-green"></i> Services</a></li>
		    <li><a ui-sref="contact"><i class="fa fa-picture-o color-light-blue"></i> Portfolio</a></li>
		    <li><a ui-sref="contact"><i class="fa fa-plane color-blue"></i> Pricing</a></li>
		</ul>
		</div>
	</div>
	<div class="col-md-4  col-sm-12 col-xs-12 copyrights">
		© 2016 www.neargroup.in  |  All Rights Reserved
	</div>
</div>
</div> -->
<footer>
	<div class="footer-container">
	<div class="col-md-6 col-sm-12 col-xs-12">
	<div class="wrap text-center">
		<ul class="nav navbar-nav social center-text">
		<li><a href="#">Contact us</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Features</a></li>
		</ul>
	</div>
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12">
		<span class="copyrights pull-right">© 2016 www.neargroup.in  |  All Rights Reserved</span>
	</div>
	</div>
</footer>