<div id="navbar" class="navbar navbar-default">
<div class="navbar-header col-md-4">
<a class="navbar-brand" ui-sref="home"><img width="168px" src="/app/assets/images/neargrouplogo.png" alt=""/></a>
</div>
<!-- <div class="col-md-8">
	<form class="form-inline loginform pull-right" role="form">
	<div class="form-group">
	<label for="email">Email</label>
	<input type="email" class="form-control" id="email">
	</div>
	<div class="form-group">
	<label for="pwd">Password</label>
	<input type="password" class="form-control" id="pwd">
	</div>
	<div class="checkbox">
	<label><input type="checkbox">Remember me</label>
	</div>
	<button type="submit" class="btn btn-default">Login</button>
	</form>
</div> -->
</div>