#toggle-sidebar {
  position: fixed;
  top: 0px;
  left: 5px;
  color: #FFF;
  background: #20B6D7;
  font-size: 23px;
  z-index: 3;
  display: none; 
}
#sidebar .list-group a.active {
    background: #eee;
    color: #fff; 
}
.btn:focus {
	outline: 3px auto #FFF; 
}

.topnav {
	border-radius: 0;
	background-color: #20B6D7;
	padding: 6px;
	z-index: 2; 
}
.topnav .text-center {
	text-align: center;
	padding-left: 0;
	cursor: pointer; 
}
.topnav .top-right-nav .buy-now a {
	color: #999; 
}
.topnav .top-right-nav .dropdown-menu {
	top: 66px;
	right: 8px;
	background-color: #20B6D7;
}
.topnav .top-right-nav .dropdown-menu .message-preview .media .media-body .media-heading {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0; 
}
.topnav .nav>li>a:focus, .topnav .nav>li>a:hover {
	background-color: #20B6D7 !important;
}
.topnav .nav .open>a, .topnav .nav .open>a:focus, .topnav .nav .open>a:hover {
	background-color: #20B6D7 !important;
}
.topnav .top-right-nav .dropdown-menu .message-preview .media .media-body p { margin: 0; }
.topnav .top-right-nav .dropdown-menu .message-preview .media .media-body p.last {
    font-size: 13px;
    margin-bottom: 0; 
}
.topnav .top-right-nav .dropdown-menu hr {
      margin-top: 1px;
      margin-bottom: 4px; 
}
.topnav a{ color: #fff !important;}
a:hover {text-decoration: none; }
.dropdown .avatar img {
	width: 30px;
	margin-right: 5px;
}
.dashboard .navbar-brand {
    padding: 0px !important;
}
.sidebar {
  border-radius: 0;
  position: fixed;
  top: 71px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #20B6D7;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
    .sidebar .list-group a.list-group-item img {
        width: 35px;
    }
.sidebar .list-group a.list-group-item {
    background: #20B6D7;
    border-bottom: 2px solid;
    border-radius: 0;
    color: #fff;
    text-decoration: none; 
}
.sidebar .list-group a:hover {
  background: #eee;
  color: #000; 
}
  .sidebar .list-group a.router-link-active {
    background: #eee;
    color: #fff; }
  .sidebar .sidebar-dropdown *:focus {
    border-radius: none;
    border: none; }
  .sidebar .sidebar-dropdown .panel-title {
    font-size: 1rem;
    height: 50px;
    margin-bottom: 0; }
    .sidebar .sidebar-dropdown .panel-title a {
      color: #999;
      text-decoration: none;
      font-weight: 400;
      background: #20B6D7; }
      .sidebar .sidebar-dropdown .panel-title a span {
        position: relative;
        display: block;
        padding: .75rem 1.5rem;
        padding-top: 1rem; }
    .sidebar .sidebar-dropdown .panel-title a:hover, .sidebar .sidebar-dropdown .panel-title a:focus {
      color: #fff;
      outline: none;
      outline-offset: -2px; }
  .sidebar .sidebar-dropdown .panel-title:hover {
    background: #eee; }
  .sidebar .sidebar-dropdown .panel-collapse {
    border-radious: 0;
    border: none; }
    .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item {
      border-radius: 0;
      background-color: #20B6D7;
      border: 0 solid transparent; }
      .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a {
        color: #999; }
      .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a:hover {
        color: #FFF; }
    .sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item:hover {
      background: #eee; }

.bg-white {
  background: #fff; }

.main-container {
  margin: 62px 0 0 216px;
  padding: 14px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.chat-panel .chat-dropdown {
  margin-top: -3px; }

.chat-panel .chat {
  height: 350px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style: none; }
  .chat-panel .chat .left img {
    margin-right: 15px; }
  .chat-panel .chat .right img {
    margin-left: 15px; }
  .chat-panel .chat li {
    margin-bottom: 10px;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999; }

.chat-panel .card-footer input {
  padding: 3px; }

/* RTL ashboard */
.sidebarPushRight {
  left: 225px !important;
  z-index: 10; }

.mainContainerPushLeft {
  margin: 55px 255px 0 0; }

/* End */
.display-sm {
  display: none; }

.hide-sm {
  display: block; }

@media (min-width: 0) {
  .navbar-toggleable-xs {
    display: block !important; } }

@media screen and (max-width: 600px) {
  .topnav .text-center a {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  #toggle-sidebar {
    display: block; }
  .topnav .text-center {
    padding-left: 55px; }
  .top-right-nav {
    display: none; }
  .navbar-brand {
    float: none;
    display: inline-block;
    cursor: pointer; }
  .show-name {
    display: block !important;
    z-index: 1; }
  .display-sm {
    display: block; }
  .hide-sm {
    display: none; }
  .sidebar {
    left: 0; }
  .main-container {
    margin-left: 0; }
  .loading {
    left: 39% !important; } }

.carousel .carousel-control {
  cursor: pointer; }

.carousel .carousel-inner .carousel-item img {
  width: 100%;
  max-height: 373px; }

.carousel .carousel-inner .fa-chevron-left:before {
  position: absolute;
  top: 46%;
  left: 50px; }

.carousel .carousel-inner .fa-chevron-right:before {
  position: absolute;
  top: 46%;
  right: 50px; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 20% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #20B6D7;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #20B6D7;
  text-align: center;
  color: #fff;
  padding: 3em; }
  .login-page .col-lg-4 {
    padding: 0; }
  .login-page .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0; }
  .login-page .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #FFF;
    border-radius: 0; }
  .login-page .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none; }
  .login-page .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: #20B6D7;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px; }
  .login-page .rounded-btn:hover, .login-page .rounded-btn:focus, .login-page .rounded-btn:active, .login-page .rounded-btn:visited {
    color: white;
    border: 2px solid white;
    outline: none; }
  .login-page h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px; }
    .login-page h1 small {
      color: rgba(255, 255, 255, 0.7); }
  .login-page .form-group {
    padding: 8px 0; }
    .login-page .form-group input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important; }
    .login-page .form-group input:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.6) !important; }
    .login-page .form-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.6) !important; }
    .login-page .form-group input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important; }
  .login-page .form-content {
    padding: 40px 0; 
    }
.feedLaout {
    height: calc(100% - 114px);
    margin-top: 15px;
}
.feedLaout .feed-headline {
    font-weight: 700;
    width: 82%;
    float: left;
}
.feedLaout .shareicon {
  
}
.feedLaout .feed-options {
    margin-bottom: 20px;
}
.feedLaout .feed-description{
    font-size: 12px;
    margin-left: 10px; 
}
.feedLaout .feed-time-location {
    margin-left: 10px; 
}
.feedLaout img {
    width: 50px;
}
.feedLaout .feed-options .icons .liked {
  color: #00f !important;
}
.feedLaout .feed-options .icons .unliked {
  color: #A9A9A9;
  cursor: pointer;
}
.feedLaout .icon-color {
    color: #A9A9A9;
    font-weight: bold;
    cursor: pointer;
}
.feedLaout .time-color {
    color: #000;
    font-weight: bold;
}
.feedLaout .option1 {
    cursor: pointer;
    width: 55px;
    float: left;
}
.feedLaout .option12 {
    font-size: 10px;
    margin-top: 14px;
    float: left;
}
.feedLaout ul {
    float: left;
    width: 100%;
    padding-left: 0px;
}
.feedLaout ul li {
    width: 33%;
    float: left;
    list-style: none;
} 
.feedLaout ul li.icons {
    line-height: 50px;
    text-align: center;
}
.modal-backdrop.am-fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.createbutton {
  float: right;
  margin-right: 46px;
}
.create-news {
    width: 55px;
    height: 55px;
    background-color: blue;
    color: #fff;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    cursor: pointer;
    position:fixed;
}
.create-news .plus-icon {
    font-size: 20px;
}