.navbar .profileinfo {
    top: 68px !important;
    background-color: #20B6D7;
    border-radius:0px;
}
.navbar .bellnotifications {
    width: 300px;
    height: 460px;
    top: 38px !important;
    background-color:#fff;
    border-radius:0px;
    overflow-y: scroll;
    left: -56px !important;
}
.navbar .commentnotifications {
    width: 300px;
    height: 460px;
    top: 38px !important;
    background-color:#fff;
    border-radius:0px;
    left: -96px !important;
    overflow-y: scroll;
}
.notifcations {
    width: 80px;
    clear: both;
    float: left;
    margin-right: 22px;
}
.notifcations span {
    padding: 0px;
}
.notifcations .nicons {
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
.notifcations ul li {
    border-bottom: 1px solid #eee;
    float: left;
    padding: 5px 0;
    cursor: pointer;
}
.notifcations ul li:hover {
    background-color: #eee;
    color: #000;
    cursor: pointer;
}
.notifcations .title{
    font-size: 10px;
    font-weight: bold;
}
.notifcations .text{
    font-size: 10px;
}
.notifcations .img {
    
}
.notifcations .img {
    
}
@media screen and (max-width: 768px) { 
    .navbar .bellnotifications {
        left: -138px !important;
    }
    .navbar .commentnotifications {
        left: -180px!important;
    }
}