.createnews-box {
	width: 100%;
	height: 80px;
	float: left;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px;
}

.postoptions {
	margin-bottom: 5px;
}
.thoughtsadvice-form .indeas {
	color: blue;
	background: #fff;
	border: 1px solid #eee;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.postoptions select {
	height: 30px;
	border: 5px;
	border-radius: 2px;
	width: 100%;
}
.thoughtsadvice-form .active {
	background-color: #009;
	color: #fff;
}
.thoughtsadvice-form .title {
	font-weight: bold;
}
.thoughtsadvice-form input[type="text"] {
	width: 100%;
	border: none;
	height: 25px;
	padding: 20px;
	outline: none;
}
.thoughtsadvice-form .title { 

}