.profile-tab {
    width: 100%;
    float: left;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px !important;
}
.no-lr-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.ineterests span {
    border: 1px solid #334FFF;
    margin-right: 5px;
    padding: 4px;
    border-radius: 10px;
}