<div class="col-md-12">
	<div class="col-md-6 profile-tab no-lr-padding">
		<div class="col-md-6 col-sm-6 col-xs-6 no-lr-padding">
        	<img ng-show="!userProfile.coverPhotoUrl" width="100" src="/app/assets/images/avatar.png" class="img-circle" alt="">
        	<img ng-show="userProfile.coverPhotoUrl" width="100" src="{{userProfile.coverPhotoUrl}}" class="img-circle" alt="">
		</div>
		<div class="col-md-6  col-sm-6 col-xs-6 no-leftpadding">
			<div ng-bind="userProfile.fullName"></div>
			<div ng-bind="userProfile.locality"></div>
			<div><span><i class="fa fa-star" aria-hidden="true"></i></span><span>{{userProfile.userLikeCount}}</span></div>
			<div ng-if="currentUser.id!=userProfile.id">
				<button ng-show="!showMessageBox" ng-click="showMessageBox=!showMessageBox" type="button" class="">Send Message</button>
				<textarea name="usermessage" class="sendmessage" ng-show="showMessageBox"></textarea>
				<div ng-show="showMessageBox" class="buttons">
					<button ng-click="showMessageBox=false" type="button" class="">Cancel</button>
					<button type="button" class="">Send</button>
				</div>
			</div>
			<div ng-if="currentUser.id==userProfile.id">
				<button type="button" class=""><i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 profile-tab no-lr-padding">
		<div>
			<h4>About me</h4>
			<div ng-bind="userProfile.aboutMe"></div>
		</div>
		<div>
			<h4>Job</h4>
			<div ng-bind="userProfile.jobType"></div>
		</div>
		<div class="ineterests">
			<h4>Interests</h4>
			<span ng-repeat="interest in userProfile.interests">{{interest}}</span>
		</div>
	</div>
</div>
<div class="col-md-12" ng-if="currentUser.id==userProfile.id"><button type="button" class="btn">Delete my profile</button></div>
<div class="col-md-12 feedLaout profile-tab">
	<h4>Feeds created by me</h4>
	<div class="col-md-12 nopadding">
		<div class="col-md-12 nopadding" >
			<div class="feeds" data-ng-repeat="item in userFeeds">
				<div class="col-md-12">
					<div class="col-md-10 col-sm-9 col-xs-9 feed-headline nopadding" data-ng-bind="item.newsHeadline"></div>
					<span class="col-md-2 col-sm-3 col-xs-3 shareicon pull-right" style="padding:0px;" data-trigger="click" data-type="success" data-title="Share" bs-tooltip><i class="fa fa-ellipsis-v icon-color" aria-hidden="true"></i></span>
				</div>
				<div class="feed-description col-md-12" data-ng-bind="item.description"></div>
				<div class="feed-time-location col-md-12 padding-left-0">
					<div class="datetime">
						<i class="fa fa-calendar-o time-color" aria-hidden="true"></i>
						<span  ng-bind="item.creationTime|ngdateformat"></span>
					</div>
					<div class="datelocation"><i class="fa fa-map-marker time-color" aria-hidden="true"></i>
						<span ng-bind="item.city"><span>
					</div>
				</div>
				<div class="feed-options col-md-12">
					<ul>
						<li>
							<div class="option1" ui-sref="profile({userId: item.userId})">
								<img ng-if="item.imageUrl" src="{{item.imageUrl}}" class="img-circle" alt="" />
								<img ng-if="!item.imageUrl" src="/app/assets/images/avatar.png" class="img-circle" alt="" />
							</div>
							<div class="option12">
								<div class="name" ng-bind="item.name"></div>
								<div class="locality" ng-bind="item.locality"></div>
							</div>
						</li>
						<li class="icons">
							<div class="star">
								<span ng-click="homecontroller.likeNews(item)">
								<span><i class="fa fa-star icon-color" aria-hidden="true"></i></span>
								<span class="star-count" ng-bind="item.newsLikeCount"></span></span>
							</div>
						</li>
						<li class="icons">
							<div class="comment">
								<span bs-aside="openCommentForm">
								<span><i class="fa fa-comment-o icon-color" aria-hidden="true"></i>
								</span>
								<span class="comment-count" ng-bind="item.commentCount"></span>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>