<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav">
    <div class="pull-left">
        <a class="" ui-sref="app"><img width="168px" src="/app/assets/images/neargrouplogo.png" alt=""></a> 
    </div>
    <div class="pull-right" style="padding-top:24px;">
    <div class="notifcations pull-left">
        <span class="col-md-6 pull-left">
            <a class="" href="javascript:void(0);" bs-dropdown data-placement="auto">
                <i class="fa fa-bell nicons"></i>
            </a>
            <ul class="dropdown-menu animated bellnotifications" role="menu" style="height:400px;">
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
                <li>
                <div class="col-md-2 col-xs-2 img">
                    <img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                <div class="col-md-10 col-xs-10 msg"> 
                    <div class="title">Prem baboo has replied in Thoughts & Advice</div>
                    <div class="text">Website or Mobile App Developer</div>
                </div>
                </li>
            </ul>
        </span>
        <span class="col-md-6 pull-right">
            <a class="" href="javascript:void(0);" bs-dropdown data-placement="left">
            <i class="fa fa-comment-o nicons" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu animated commentnotifications" role="menu" style="">
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>
                <li>
                    <div class="col-md-2 col-xs-2"><img width="45" src="/app/assets/images/avatar.png" class="img-circle" alt=""></div>
                    <div class="col-md-10 col-xs-10"> 
                        <strong>Prem baboo</strong>
                        <p>I would like to say that you are good.</p>
                    </div>
                </li>

            </ul>
        </span>
    </div>

    <a class="pull-right" href="javascript:void(0);" bs-dropdown data-placement="auto">
        <span class="meta">
        <span class="avatar">
            <img width="24" data-ng-show="currentUser.coverPhotoUrl" src="{{currentUser.coverPhotoUrl}}" class="img-circle" alt="" />
            <img width="24" data-ng-show="!currentUser.coverPhotoUrl" src="/app/assets/images/avatar.png" class="img-circle" alt="" />
        </span>
        <span class="text hidden-xs" data-ng-bind="(currentUser.fullName)?(currentUser.fullName):'User Name'"></span>
        <span class="caret"></span>
        </span>
    </a>
    <ul class="dropdown-menu animated profileinfo" role="menu" style="">
        <li>
            <a class="dropdown-item" ui-sref="profile({userId:currentUser.id})"><i class="fa fa-fw fa-user"></i>My Profile</a>
        </li>
        <li>
            <a class="dropdown-item" ui-sref="directories"><i class="fa fa-folder-open-o"></i>My Directories</a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:;"><i class="fa fa-fw fa-gear"></i>Settings</a>
        </li>
            <li>
            <a class="dropdown-item" href="neargroup.in"><i class="fa fa-fw fa-envelope"></i>Rate Us</a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="dropdown-item" href="javascript:;" data-ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </li>
    </ul>
    </div>
</nav>