<script type="text/javascript">
$("#toggle-sidebar").click(function(e) {
        e.preventDefault();
        $("#sidebar").toggleClass("sidebarPushRight");
});
$("#sidebar").click(function(e) {
        e.preventDefault();
        $("#sidebar").toggleClass("sidebarPushRight");
});
</script>

<button class="btn btn-default navbar-default" id="toggle-sidebar" type="button">
    &#9776;
</button>
<nav class="sidebar" id="sidebar">
    <ul class="list-group">
        <a href="" data-ng-click="filterFeeds(currentUser.userAllNearByKey, 'Delhi')" class="list-group-item" ng-class="{'active':(feedType=='Delhi'&&feedCode==currentUser.userAllNearByKey)}">
            <i class="fa fa-fw fa-dashboard"></i> All Feeds
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'Delhi')" class="list-group-item" ng-class="{'active':(feedType=='Delhi'&&feedCode==0)}">
            <img src="/app/assets/images/thoughts-advice.png" alt="Feeds" title="Thougths & Advice" class="mfp-fade" /> Thougths & Advice
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'buy')" class="list-group-item" ng-class="{'active':feedType=='buy'}">
            <img src="/app/assets/images/buy-sell.png" alt="Image gallery" title="Buy/Sell Nearby" class="mfp-fade" /> Buy/Sell Nearby
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'housing')" class="list-group-item" ng-class="{'active':feedType=='housing'}">
            <img src="/app/assets/images/housing.png" alt="Image gallery" title="House Nearby" class="mfp-fade" /> House Nearby
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'carpool')" class="list-group-item" ng-class="{'active':feedType=='carpool'}">
            <img src="/app/assets/images/carpool.png" alt="Image gallery" title="Carpool Nearby" class="mfp-fade" /> Carpool Nearby
        </a>
        <a href="" class="list-group-item">
            <img src="/app/assets/images/offers.png" alt="Image gallery" title="Offers Nearby" class="mfp-fade" /> Offers Nearby
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'activity')" class="list-group-item" ng-class="{'active':feedType=='activity'}">
            <img src="/app/assets/images/activities.png" alt="Image gallery" title="Activities Nearby" class="mfp-fade" /> Activities Nearby
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'job')" class="list-group-item" ng-class="{'active':feedType=='job'}">
            <img src="/app/assets/images/jobs.png" alt="Image gallery" title="Jobs Nearby" class="mfp-fade" /> Jobs Nearby
        </a>
        <a href="" data-ng-click="filterFeeds(0, 'telent')" class="list-group-item" ng-class="{'active':feedType=='telent'}">
            <img src="/app/assets/images/learn.png" alt="Image gallery" title="Learning Nearby" class="mfp-fade" > Learning Nearby
        </a>
<!--         <div class="sidebar-dropdown">
            <accordion>
                <accordion-group heading='&#x21D5;&nbsp;&nbsp;Dropdown  &#x25BE;'>
                    <p>
                        <li class="list-group-item">
                            <a href="javascript:;" >Dropdown Item 1</a><br>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" >Dropdown Item 2</a><br>
                        </li>
                        
                    </p>    
                </accordion-group>
            </accordion>
        </div> -->
    </ul>
</nav>